<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Coreyoo.Coreyoo_Project.LoginTest"/>
      <class name="Coreyoo.Coreyoo_Project.SignUpTest"/>
      <class name="Coreyoo.Coreyoo_Project.ParcelTest"/>
      <class name="Coreyoo.Coreyoo_Project.DocumentTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
